*{
    margin: 0;
    padding: 0;
    background-color: #5A58BD;
}

body {
    font-family: "Mukta";
}

.cabeçalho {
    background-color:#E17426;
    color: white;
    display: inline-flex;
    justify-content:space-around;
    padding: 10px 0;
}

.cabeçalho-imagem {
    width: 16%;
}

.cabeçalho-lista-item {
    display: inline-flex;
    margin: 0 0;
    font-size: 41px;
    padding: 53px 105px;
    background-color: #E17426;
}

.tela-inicial {
    background-color: #7C2CCC;
    color: white;
    display: grid;
    width: 17.5%;
    align-items: center;
    font-size: 21px;
    margin: 100px 10px;
}

.descrição-texto {
    background-color: #7C2CCC;
    padding: 0 0;
}

.texto-rodapé {
    color: white;
    font-size: 20px;
    background-color: #E17426;
    text-align: center;
}

.texto-lista {
    display: grid;
}

#imgpos {
    position: absolute; right 1000px; top
}
