*{
    margin: 0;
    padding: 0;
}

.cabeçalho {
    background-color: #E17426;
    color: white;
    display: flex;
    justify-content:space-around;
    padding: 16px 0;
}

.cabeçalho-imagem {
    width: 16%;
}

.cabeçalho-lista-item1 {
    display: inline-block;
    margin: 0 45px;
    font-size: 30px;
    padding: 33px 0;
}

.cabeçalho-lista-item2 {
    display: inline-block;
    margin: 0 45px;
    font-size: 30px;
    padding: 33px 0;
}

.cabeçalho-lista-item3 {
    display: inline-block;
    margin: 0 45px;
    font-size: 30px;
    padding: 33px 0;
}

.cabeçalho-lista-item4 {
    display: inline-block;
    margin: 0 45px;
    font-size: 30px;
    padding: 33px 0;
}

.descrição {
    background-color: #7C2CCC;
    color: white;
    display: block;
    width: 25%;
    align-items: center;
    padding: 20px 0;
    font-size: 19px;
    margin: 16px;
}
