*{
    margin: 0;
    padding: 0;
    background-color: #5A58BD;
}

body {
    font-family: "Mukta";
}

.cabeçalho {
    background-color:#E17426;
    color: white;
    display: inline-flex;
    justify-content:space-around;
    padding: 10px 0;
}

.cabeçalho-imagem {
    width: 16%;
}

.cabeçalho-lista-item {
    display: inline-flex;
    margin: 0 103px;
    font-size: 40px;
    padding: 53px 0;
    background-color: #E17426;
}

.descrição {
    background-color: #7C2CCC;
    color: white;
    display: block;
    width: 17.5%;
    align-items: center;
    font-size: 19.2px;
    margin: 100px 10px;
}

.descrição-texto {
    background-color: #7C2CCC;
    padding: 0 0;
}

